header {
    background-color: rgb(236, 61, 13);
    text-align: center;
}

h1, h2, h3, h4, p {
    font-size: 30px;
    text-align: center;
}

body {
    background-color: rgb(238, 122, 221);
}

* {
    font-family: sans-serif;
}

img {
    width: 50%;
    border-radius: 8px;
    display: block;
    margin: auto;
}